*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;

    background-color: rgb(234, 234, 234);
}

.form-header{
    line-height: 3;
    text-align: center;
    
    margin: 40px 0 20px 0;
    padding: 30px;

    background-color: rgb(189, 189, 189);
    border: 2px solid rgb(141, 141, 141);
    border-radius: 3px;

}

.form-header p{
    margin-bottom: 5px;
}

.form-box{
    margin-top: 30px;
    padding: 20px;

    background-color: rgb(189, 189, 189);
    border: 2px solid rgb(141, 141, 141);
    border-radius: 3px;
}

.form-box, .form-header{
    width: 600px;
}

.form-row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin-bottom: 30px;
}

.form-row input[type="text"],
.form-row input[type="email"]{
    border: 1px solid rgb(141, 141, 141);
    border-radius: 3px;

    width: 250px;
    height: initial;
    font-size: 14px;
    padding: 8px;
}
.form-row input[type="text"]:invalid,
.form-row input[type="email"]:invalid {
  border: 1px solid #D55C5F;
  color: #D55C5F;
  box-shadow: none;
}

.form-row label{
    font-size: 18px;
    width: 120px;
    padding-right: 20px;
    text-align: right;
}

.form-row input[id="age"]{
    width: 75px;
}


.gender-form-row{
    border: none;
    margin-bottom: 30px;
}

.gender-form-row legend{
    width: 120px;
    float: left;
    padding-right: 20px;
    font-size: 18px;
    text-align: right;
}
.gender-form-row .radio-label{
    display: block;
    font-size: 16px;
    padding: 0 20px 0 10px;
}

.gender-form-row input[type="radio"]{
    margin-top: 3px;
}

.gender-form-row .radio-label,
.gender-form-row input[type="radio"]{
    float: left;
}

.form-row .checkbox-label{
    margin-bottom: 0;
    margin-left: 120px;
    width: auto;
}
.form-row button{
    padding: 10px 40px;
    margin-bottom: 5px;

    font-size: 18px;
    font-weight: bold;

    background-color: rgb(234, 234, 234);
    border: none;
    border-radius: 3px;

    cursor: pointer;
    
}
#form-row-wbutton{
    justify-content: center;
}

.form-row button:hover{
    background-color: rgb(141, 141, 141);
    color: white;
}

.form-row button:active{
    border: 1px solid white;
    margin-bottom: 3px;
}